auto-save-list/
elpa/
transient/
custom.el
projectile-bookmarks.eld
.lsp-session-v1
srecode-map.el
.dap-breakpoints
recentf
*.elc
.extension/
url
forge-database.sqlite
package-quickstart.el
eclipse.jdt.ls/
workspace/
.org-id-locations
bookmarks
lisp/config-secrets.el
oauth2.plstore
org-clock-save.el
.cache/
projectile.cache
elpy
config.el
straight/
smex-items